/*------------------NOTIFICATIONS--------------------*/
.notifications{
    width: 100%;
    position: fixed;
    z-index: 100000000000;
    height: 40px;
    top: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.texto{
    min-height: 80px;
    max-height: 80px;
}
.notifications__text-container{
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  min-width: 300px; 
  margin: 5px 0;
  height: 40px;
  min-height: 40px;
  z-index: 1000;
  padding: 10px;
  position: fixed;
  transform: translateY(-10%);
  transition: 0.3s ease;
  color: white;
  }
  .display-notification{
    opacity: 1;
    transform: translateY(0);
  }
  #message-sent{
      background-color: rgb(1, 158, 1);
  }
  #message-error,
  #message-empty{
      background-color:red; 
  }
  #message-empty span{
      font-size: 0.9rem;
  }
/*-----------------------HEADER-------------------*/
.header{
    max-height: 600px;
    min-height: 320px;
    height: 30vh;
    width: 100%;
    position: relative;
    padding: 20px;
    padding-top: 15px;
}
.header-background{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.header-background::after{
    content: '';
    background: rgb(32, 62, 95);
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 100;
}
.header-background__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--min-padding);
    padding-top: var(--mid-padding);
    padding-bottom: var(--mid-padding);
}
.header-text .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    gap: 1em;
    width: 40%;
}
.header-text__content{
    width: 100%;
}
.header-title{
    font-size: 2.5em;
    font-weight: bold;
    font-family: montserratbold;
    color: white;
    opacity: 0;
    transform: translateX(-100px);
    animation: showHorizontal .5s linear forwards;
}
.header-text__contrast{
    color: var(--contrast-color);
    font-size: 1em;
    font-weight: bold;
    font-family: montserratbold;
}

/*---------------------------CONTACT-------------------------*/

.contact{
    padding: var(--min-padding);
    padding-top: var(--mid-padding);
    padding-bottom: var(--mid-padding);
    background: rgb(27, 144, 160);
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
}
.contact .container{
    justify-content: center;
    width: 100%;
    display: flex;
}
.contact-container{
    width: 100%;
    max-width: 480px;
}
.contact-info{
    background: #003038;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5em 1em;
    border-radius: 5px 5px 0 0;
    width: 100%;
    gap: 1em;
    opacity: 0;
    transform: translateX(-200px);
    animation: showHorizontal 0.7s 0.3s linear forwards;
}
.contact-title{
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    flex-grow: 1;
    margin-bottom: 0.5em;
    font-family: montserratbold;
}
.info{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}
.contact-row__item{
    display: flex;
    position: relative;
    flex-grow: 1;
}
.contact-row__item img{
    width: 25px;
    transition: 0.3s ease;
}
.contact-info__link{
    display: flex;
    gap: 1em;
}
.contact-info__text{
    color: rgb(228, 228, 228);
}
.info-rss{
    flex-grow: 12;
}
.rss_link{
    width: 1.4em;
}
.rss_link img{
    transition: 0.3s ease;
}
.contact-row__item:hover .contact-info__text{
    color: white;
}
.rss_link:hover img,
.contact-row__item:hover img{
    transform: scale(1.1);
}
.contact-info__ico{
    object-fit: contain;
    height: 1.2em;
}
.rss-container{
    display: flex;
    justify-content: center;
    gap: 2em;
    height: 1.2em;
}
.contact-rss-ico{
    height: 100%;
}
.contact-form{
    background: white;
    padding: 1.5em 1em;
    border-radius: 0 0 5px 5px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateX(200px);
    animation: showHorizontal 0.7s 0.3s linear forwards;
}
.contact-form__container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
    flex-grow: 2;
}
.contact-form__content{
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}
.contact-input{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
}
.contact-input input{
    background: #EAEAEA;
    border: none;
    width: 100%;
    border-radius: 5px;
    height: 1.8em;
    padding: 0.3em;
}
.contact-input input:focus,
.contact-input textarea:focus{
    outline: 1px solid #301F55;
}
.contact-input textarea{
    background: #EAEAEA;
    border: none;
    width: 100%;
    height: 8em;
    padding: 0.3em;
    resize: none;
    border-radius: 5px;
    outline: #301F55;
}

.button{
    display: flex;
    width: 100%;
}
.button-link{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1em;
    height: initial !important;
    padding: 0.7em 0.9em !important;
    background-image: linear-gradient(to right, red, rgb(212, 138, 0)) !important;
    color: white;
    cursor: pointer;
    font-size: 0.8em;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s linear;
}
.button-link:hover{
    transform: translateY(-3px);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.button-shine{
    content: '';
    background-image: linear-gradient(-45deg, transparent 30%, rgba(255, 255, 255, 0.308), transparent 70%);
    z-index: 1;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    transform: translateX(-100%);
    transition: 0.3s linear;
    pointer-events: none;
}
.button-link:hover .button-shine{
    transform: translateX(100%);
}


.notifications{
    width: 100%;
    position: fixed;
    z-index: 100000000000;
    height: 40px;
    top: 0;
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.texto{
    min-height: 80px;
    max-height: 80px;
}
.notifications__text-container{
  top: 0;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  max-width: 350px;
  width: 100%;
  min-width: 300px; 
  margin: 5px 0;
  height: 40px;
  min-height: 40px;
  z-index: 1000;
  padding: 10px;
  position: fixed;
  transform: translateY(-10%);
  transition: 0.3s ease;
  color: white;
  }
  .display-notification{
    opacity: 1;
    transform: translateY(0);
  }
  #message-sent{
      background-color: rgb(1, 158, 1);
  }
  #message-error,
  #message-empty{
      background-color:red; 
  }
  #message-empty span{
      font-size: 0.9rem;
  }
@media only screen and (min-width: 480px){
    .contact-info,
    .contact-form{
        padding: 1.5em;
    }
    .contact-form__container{
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-areas: "name phone"
                        "email subject"
                         "message message"
                         "sendbtn sendbtn";
    gap: 0.7em;
    }
   .name{
    grid-area: name;
   }
   .phone{
       grid-area: phone;
   }
   .email{
       grid-area: email;
   }
   .subject{
       grid-area: subject;
   }
   .message{
       grid-area: message;
   }
   .sendbtn{
       grid-area: sendbtn;
   }
}
@media only screen and (min-width: 600px){
    .header__container{
        height: calc(35vh + 26px);
    }
}
@media only screen and (min-width: 768px){
    .contact-container{
        max-width: 700px;
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    
    .contact-info{
        border-radius: 5px 0 0 5px;
    }
    .contact-form{
        border-radius: 0 5px 5px 0;
    }
    .info-rss{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .contact-form__content{
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .rss-container{
        gap: 1em;
    }
}
@media only screen and (min-width: 998px){
    .contact-container{
        max-width: 900px;
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        align-items: center;
    }
    .contact-form__container{
        gap: 1em 3em;
        margin-top: 1em;
    }
    .contact-title{
        font-size: 1.4em;
    }
    .contact-info{
        border-radius: 5px;
        height: 90%;
        width: 32%;
        z-index: 100;
        position: absolute;
        z-index: 100;
        left: 4%;
    }
    .contact-form{
        width: 80%;
        border-radius: 5px;
        margin-left: 20%;
        padding: 3em 2em;
        padding-left: 19%;
    }
    .contact-input input{
        margin-top: 0.4em;
    }

}

@media only screen and (min-width: 1600px){
    .contact-info{
        width: 36%;
        left: 0%;
    }
}

@media only screen and (min-width: 1920px){
    .contact-info{
        width: 36%;
        left: 0%;
    }
}
@media only screen and (min-width: 2000px){
    .contact-info{
        width: 40%;
        left: -4%;
    }
}
@media only screen and (min-width: 2500px) {
    .contact-container{
        max-width: 1000px;
    }
    .contact-info{
        width: 42%;
        left: -8%;
    }
}