*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}
:root{
    --min-width: 320px;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
/*CABECERA*/
header{
    height: 105vh;
    width: 100%;
    min-width: 320px;
    position: relative;
}
.slider-hero{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.slider-hero__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    opacity: 0;
    transition: 0.7s ease-in;
}
.slider-hero .slider-hero__img:nth-child(1){
    opacity: 1;
}
.container{
    height: 100%;
    width: 100%;
    padding: 0 1.5em;
    min-width: 320px;
}
.pantalla{
    content: '';
    display: block;
    height: 105vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}
@keyframes navbar{
    0%{
        transform: translateY(-25%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.navbar{
    position: relative;
    z-index: 1000;
    width: 100%;     
    display: flex;
    align-items: center;
    animation: navbar 2s ease;
    transition: 0.3s ease;
    height: 75px;
}

.navbar_res{
    position: fixed;
    align-items: flex-start;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    z-index: 1000;
    background-color: black;
}
.mostrar{
    display: flex !important;
}
/* .contenedor_logomenu{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: yellow;
} */
.logo{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    transform: scale(0.35) translateX(-75%);
}
.logo_res{
    position: absolute;
    z-index: 50;
    margin: 0 !important;
    padding: 0;
    opacity: 0.1;
    width: 100vw;
    height: 100vh;
}
.logo_res img{
    width: 100%;
    object-fit: contain;
    height: 100%;
    transform: scale(0.6) translateX(0);
    filter: blur(5px);
}
.contenedor_items li:nth-child(5){
    margin-right: 0;
}
.contenedor_items li a{
    text-decoration: none;
    color: white;
    width: 100%;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid transparent;
    transition: 0.5s linear;
}

.contenedor_items{
    display: none;
    list-style: none;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.contenedor_items li{
   width: 100%;
   max-width: 5em;
   margin: 0.3em 0;
}
.contenedor_items li a:hover{
    border-bottom: 2px solid white;
}
.bandera_idioma{
    width: 2em;
    height: 1.6em;
}
.bandera_idioma img{
    width: 100%;
    height: 100%;
    max-width: 2em;
    object-fit: cover;
    border-radius: 0.2em;
}
.contenedor_items li:last-child a:hover{
    border-bottom: 2px solid transparent;
}
.hamburguesa_contenedor{
    display: flex;
    position: absolute;
    z-index: 10000;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.233);
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
        transition: 0.5s ease;
    border-radius: 3px;
}
.hamburguesa_contenedor span{
    content: '';
    display: flex;
    position: absolute;
    height: 2px;
    width: 22px;
    border-radius: 5px;
    background-color: white;
        transition: 0.5s ease;
}
.hamburguesa_contenedor span:nth-child(1){
   transform: translateY(10px) translateX(3px);
}
.hamburguesa_contenedor span:nth-child(2){
    transform: translateX(-5px);
 }
.hamburguesa_contenedor span:nth-child(3){

    transform: translateY(-10px) translateX(5px); 
}
.hamburguesa_contenedor:hover .primera{
    transform: translateY(10px) translateX(0px);
}
.hamburguesa_contenedor:hover .segunda{
    transform: translateX(0px);
}
.hamburguesa_contenedor:hover .tercera{
    transform: translateY(-10px) translateX(0px);
}

@keyframes textoIzquierda{
    0%{
        transform: translateX(-10%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes textoheader{
    0%{
        transform: translateX(-10%) translateY(20%);
        opacity: 0;
    }
    100%{
        transform: translateX(0) translateY(20%);
        opacity: 1;
    }
}
.texto_header{
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 100;
    color: white;
    height: calc(100% - 125px);
    padding: 0 1em;
    width: 100%;
}
.texto_headercontainer{
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: textoheader 2s ease forwards;
}
.texto_headercontainer h2{
    font-size: 1.3em;
    margin-bottom: 0.3em;
}
.texto_headercontainer h1{
    font-size: 1.5em;
    margin-bottom: 0.5em;
}
.texto_headercontainer p{
    font-size: 0.8em;
    line-height: 1.2em;
    letter-spacing: 0.1em;
    color: rgb(239, 239, 239);
    text-align: center;
}
.btn-header{
    margin-top: 1em;
}
.btn-header a{
    text-decoration: none;
    color: white;
    background-color: rgb(129, 129, 255);
    font-size: 0.75em;
    border-radius: 1em;
    padding: 0.4em 0.6em;
    letter-spacing: 0.1em;
    transition: 0.3s ease;
}
.btn-header a:hover{
    background-color: rgb(145, 145, 255);
}
/*ACERCA DE MI*/
.acerca{
    overflow: hidden;
    position: relative;
    z-index: 100;
    width: 100%;
    height: 70vh;
    min-height: 540px;
    background-color: black;
    color: white;
    box-shadow: 0px 10px 30px 25px black;
}
#acerca{
    justify-content: center;
}
.acerca .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.contenedor_Aimagen{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.imagen_acerca{
    height: 100%;
    opacity: 0.12;
    object-fit: cover;
    width: 100%;
}
@keyframes textoDerecha{
    0%{
        transform: translateX(10%);
        opacity: 0;
    }100%{
        transform: translateX(0);
        opacity: 1;
    }
}
.texto{
    display: flex;
    align-items: flex-end;
    opacity: 0;
    width: 100%;
    max-width: 450px;
    padding: 1em;
    flex-direction: column;
}
.texto h2{
    font-size: 1.6rem;
    margin-bottom: 10px;
}
.texto p{
    width: 100%;
    color: rgb(190, 190, 190);
    text-align: justify;
    font-size: 0.8em;
    line-height: 1.4em;
    margin-right: 0;
    letter-spacing: 0.05em;
}

/*SECCIONES GALERIA - METAS*/
.seccion_dibujos,
.metas{
    overflow: hidden;
    height: 100vh;
    min-height: 640px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    position: relative;
    z-index: 40;
}
.metas{
    width: 100%;
    background-image: url(../assets/metas.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;

    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 100;
}
.metas:after,
.seccion_dibujos:after{
    content:'';
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.seccion_dibujos:after{
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0, transparent 20%);
    background-color: rgba(0, 0, 0, 0);
}
.seccion1{
    background-image: url(../assets/img1.jpg);
    background-repeat: no-repeat;
	background-position: center left;
	background-size: cover;
}
.seccion2{
    background-image: url(../assets/img2.jpg    );
    background-repeat: no-repeat;
	background-position: center center;
    background-size: cover;
    justify-content: flex-start;
}
.seccion3{
    background-image: url(../assets/img3.jpg);
    background-repeat: no-repeat;
	background-position: center left;
	background-size: cover;
}
.seccion4{
    background-image: url(../assets/img4.jpg);
    background-repeat: no-repeat;
	background-position: center left;
    background-size: cover;
    justify-content: flex-start;
}
.seccion5{
    background-image: url(../assets/img5.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.seccion6{
    background-image: url(../assets/img6.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    justify-content: flex-start;
}
.seccion7{
    background-image: url(../assets/img7.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.seccion8{
    background-image: url(../assets/img8.jpg);
    background-repeat: no-repeat;
	background-position: center right;
	background-size: cover;
    justify-content: flex-start;
}
.seccion9{
    background-image: url(../assets/img9.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.seccion10{
    background-image: url(../assets/img10.jpg);
    background-repeat: no-repeat;
	background-position: 50% 25%;
	background-size: cover;
    justify-content: flex-start;
}
.seccion11{
    background-image: url(../assets/img11.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.seccion12{
    background-image: url(../assets/img12.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
    justify-content: flex-start;
}
.seccion13{
    background-image: url(../assets/img13.jpg);
    background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.seccion14{
    background-image: url(../assets/img14.jpg);
    background-repeat: no-repeat;
	background-position: 50% 20%;
	background-size: cover;
    justify-content: flex-start;
}
.seccion15{
    background-image: url(../assets/img15.jpg);
    background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}
.contenedor_texto{
    opacity: 0;
}
.contenedor_texto,
.contenedor_metas{
    opacity: 0;
    width: 100%;
    max-width: 350px;
    margin-bottom: 5%;
    margin-right: 7%;
    margin-left: 7%;
    padding: 1.4em;
    position: relative;
    z-index: 100;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3) 85%, rgba(0, 0, 0, 0.6));
    backdrop-filter: blur(1px);
    border-radius: 0.5em;
}
@keyframes textoMetas{
    0%{
        transform: translateX(-10%) translateY(-10%);
        opacity: 0;
    }100%{
        transform: translateX(0%) translateY(0);
        opacity: 1;
    }
}

.contenedor_metas h2{
    font-size: 1.4em;
}
.contenedor_metas p{
    font-size: 0.8em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    color: rgb(228, 228, 228);
    margin-top:10px;
}
.contenedor_texto h2{
    font-size: 1.4rem;
    margin-bottom: 10px;
}
.contenedor_texto p{
    color: rgb(228, 228, 228);
    font-size: 0.8em;
    line-height: 1.4em;
    letter-spacing: 0.05em;
}
.btns-container{
    display: flex;
    margin-top: 1em;
    align-items: center;
    justify-content: space-between;
}
.info__dibujos{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
}
.info__dibujos p{
    font-size: 0.8em;
    letter-spacing: 0.05em;
}
.info__dibujos strong{
    font-size: 1em;
}
.precios{
    color: white;
    font-size: 1em;
    letter-spacing: 0.05em;
    background: rgb(0, 0, 0, 0.2);
    border: 1px solid rgb(129, 129, 255);
    color: rgb(255, 255, 255);
    padding: 0.2em;
    border-radius: 0.3em;
    transition: 0.3s ease;
}
.boton_mas,
.boton_video{
    cursor: pointer;

}
.boton_mas a,
.boton_video a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    background-color: rgb(129, 129, 255);
    padding: 0.36em 0.5em;
    font-size: 0.9em;
    letter-spacing: 0.015em;
    border-radius: 0.3em;
    transition: 0.3s ease;
}
.boton_mas a:hover,
.boton_video a:hover{
    background-color: rgb(145, 145, 255);
}
.faq__btn{
    text-decoration: none;
    color: white;
    font-size: 0.9em;
    letter-spacing: 0.015em;
    border: 1px solid rgb(129, 129, 255);
    padding: 0.3em 0.5em;
    border-radius: 0.3em;
    background: rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
}
.faq__btn:hover{
    background: rgba(0,0,0, 0.4);
}
/*SEPARADOR*/
.separador{
    height: 100px;
    position: relative;
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contenedor_separador{
    width: 0;
    height: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.separador h2{
    margin-left: calc(7% + 5px);
    font-size: 1.6rem;
    position: relative;
    animation-delay: 0.5s;
    opacity: 0;
}
@keyframes separador{
    0%{
        width: 0;
    }100%{
        width: 100%;
    }
}
@keyframes textoSeparador{
    0%{
        opacity: 0;
        transform: translate(-10%);
    }100%{
        opacity: 1;
        transform: translate(0);
    }
}
.linea{
    content: '';
    display: block;
    position: absolute;
    background-color: rgb(0, 0, 0);
    height: 3px;
    width: 40px;
    left: 7%;
    bottom: 35px;
    animation-delay: 1s;
    opacity: 0;
}
/*VIDEOS*/

.contenedor_videos{
    min-height: 640px;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "video1"
                         "video2"
                         "video3"
                         "vermas";
    grid-gap: 1em;
    padding: 2em;
    background-color: black;
}
.video{
    opacity: 0;
    border-radius: 0.3em;
    overflow: hidden;
}
.video iframe{
    width: 100%;
    height: 100%;
}
@keyframes aparecerVideos{
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.boton_video{
    grid-area: vermas;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black;
}
.boton_video a{
    padding: 0.35em 0.6em;
    font-size: 0.9em;
}
/*Preguntas Frecuentes*/
.preguntasFrecuentes{
    min-height: 640px;
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(12, 12, 12);
    padding: 2em;
}
.contenedorPreguntas{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2em;
    justify-items: center;
}
.itemPreguntas{
    width: 100%;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px;
}
.itemPreguntas div{
    width: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.7em;
}
.itemPreguntas h2{
    font-size: 1.2rem;
    margin-bottom: 0.3em;
    color: white;
}
.itemPreguntas p{
    text-align: justify;
    font-size: 0.9rem;
    padding-top: 0.3em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
    width: 100%;
    color: rgb(184, 184, 184);
}
.tablaMedidas{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.tablaMedidas span{
    font-size: 0.95em;
    line-height: 1.3em;
    letter-spacing: 0.05em;
}
.tablaMedidas span{
    display: block;
}
.contenedorPreguntas div h2{
    font-size: 1rem;
    letter-spacing: 0.05em;
}
.contenedorPreguntas div p{
    font-size: 0.8rem;
}
.aqui{
    text-decoration: none;
    color: rgb(129, 129, 255);
    font-weight: bold;
    font-size: 1em;
    transition: 0.3s ease;
}
.aqui:hover{
    color: rgb(170, 170, 255);
}
.iconoPreguntas{
    width: 40px;
    height: 40px;
}
@keyframes aparecerPreguntas{
    0%{
        transform: translateY(-10%);
        opacity: 0;
    }100%{
        transform: translateY(0);
        opacity: 1;
    }
}
/*Contacto*/
.contenedor_contacto{
    min-width: 320px;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(221, 221, 221);
}
.imagen_contacto{
    display: none;
}
.imagen_contacto,
.contenedor_formulario{
    width: 100%;
    height: 100%;
}
.contenedor_formulario{
   padding: 2em 2em;
   display: flex;
   justify-content: center;
}
.imagen_contacto{
    background-image: url(../assets/jack4.webp);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}
.contenedor_formulario,
.contenedor_form form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor_form{
    width: 100%;
    max-width: 400px;
}
.contenedor_form form{
    gap: 1em;
}
.contenedor_formulario h2{
    opacity: 0;
    font-size: 1.2rem;
    margin-bottom: 0.7em;
}
.contenedor_form form div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid rgb(170, 170, 170);
    width: 100%;
    opacity: 0;
    padding: 0.7em;
    border-radius: 0.25em;
}
.contenedor_form form div:nth-child(1){
    animation-delay: 0s !important;
}
.contenedor_form form div:nth-child(2){
    animation-delay: 0.1s !important;
}
.contenedor_form form div:nth-child(3){
    animation-delay: 0.2s !important;
}
.contenedor_form form div:nth-child(4){
    animation-delay: 0.3s !important;
}
.contenedor_form form div:nth-child(5){
    animation-delay: 0.4s !important;
}
.contenedor_form form div label {
    font-size: 0.75em;
}
.contenedor_form form div input{
    width: 100%;
    height: 25px;
    background-color: rgb(200, 200, 200);
    border: 0;
    margin-top: 0.25em;
    padding: 0.3em;
    font-size: 0.8rem;
    color: black;
    border-radius: 0.25em;
    outline-color: black;
    outline-width: 1px;
}
.contenedor_form form div:nth-child(7){
    border: 0;
    padding: 0;
}
.contenedor_form form div:nth-child(7) input{
    width: 100%;
    height: 100%;
    padding: 0.5em 0;
    margin: 0;
    background-color: rgb(129, 129, 255);
    color: white;
    cursor: pointer;
    transition: 0.5s ease;
}
.contenedor_form form div:nth-child(7) input:hover{
    background-color: rgb(145, 145, 255);
}

.contenedor_form form div textarea{
    font-size: 0.8rem;
    background-color: rgb(200, 200, 200);
    border: 0;
    padding: 0.3em;
    margin-top: 0.25em;
    resize: none;
    height: 50px;
    outline-color: black;
    outline-width: 1px;
}
.btn_subirimagen{
    position: absolute;
    bottom: 0.8em;
    z-index: -1;
    max-width: 18em;
}
.btn_subirimagenlabel{
    position: relative;
    display: flex;
    flex-direction: column;
}
.btn_subirimagenlabel::after{
    content: 'Seleccionar Archivo';
    padding: 0.55em 1.1em;
    width:fit-content;
    transform: translateY(0.1em);
    background-color:rgb(129, 129, 255);
    color: white;
    border-radius: 0.3em;
    cursor: pointer;
    margin-top: 0.4em;
}
.select_dibujos{
    background: rgb(200, 200, 200);
    margin-top: 0.25em;
    font-size: 0.8em;
}
.select_dibujos option{
    font-size: 0.9em;
}
@keyframes inputAnimacion{
    0%{
        transform: translateY(-20%);
        opacity: 0;
    }100%{
        transform: translateY(0);
        opacity: 1;
    }
}
.contenedor_form form div:nth-child(5) input{
    height: auto;
}
/*PIE DE PAGINA*/
.pie{
    background-color: black;
    height: 70px;
    min-width: 320px;
    color: white;
    display: flex;
    padding: 0 7%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.pie p{
    font-size: 0.7em;
    letter-spacing: 0.1em;
    margin: 0.2em 0;
}
/*SLIDER DE IMAGENES*/
.slider{   
    display: none;
    width: 100%;
    height: 100%;
    min-width: 320px;
    background-color: rgb(12, 12, 12);
    position: fixed;
    z-index: 10000;
}
.slider-btn{
    position: absolute;
    z-index: 100000;
    width: 100%;
 0   height: 5%;
    display: flex;
    justify-content: flex-end;
    margin-top: 3%;
    cursor: pointer;
}
.slider-btn p{
    text-shadow: 0 0 3px rgba(56, 56, 56, 0.76);
    color: rgba(255, 255, 255, 0.568);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    font-size: 1.2rem;
    margin-left: 5%;
    margin-right: 5%;
    transition: 0.3s ease;
}
.slider-btn p:hover{
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
    color: rgba(77, 77, 77, 0.603);
}
#contenedor_galeria,
.subcontenedorgaleria{
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

#contenedor_galeria.transition2,
.subcontenedorgaleria.transition2{
    transition: 1s ease;
}
.foto_container{
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    transition: 0.7s ease-in-out;
    cursor: grab;
}
.foto_container:active{
    cursor: grabbing;
}
.foto{
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: contain;
}
.menu_slider{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    pointer-events: none;
}
.menu-galeria__container{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.menu-minaturas__container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    background: rgba(0, 0, 0, 0.2);
    height: 6em;
    pointer-events: visible;
   /*  padding: 1em 0; */
}
.menu-miniaturas{
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    bottom: 0;
    gap: 16px;
    justify-content: flex-start;
}
.menu-miniaturas__item{
    width: 6em;
    min-width: 6em;
    height: 6em;
    border-radius: 0.3em;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.4;
}
.menu-miniaturas__item:hover{
    opacity: 0.8;
}
.menu-miniaturas__item:nth-child(1){
    opacity: 1;
}
.menu-miniaturas__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider_miniatura{
    position: relative;
}

.slides_miniatura{
    position: absolute;
    left: 50%;
    bottom: 0;
}
.slides_miniatura.transition{
    transition: all .2s ease-in-out;
}
.slide_miniatura{
    width: 6em;
    height: 6em;
}
.flechas{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    pointer-events: none;
}
.anterior,
.siguiente{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5%;
    top: 50%;
    z-index: 100000;
    pointer-events: visible;
}

.siguiente{
    left: 10%;
}
.anterior p:hover,
.siguiente p:hover{
    text-shadow: 0 0 3px rgba(255, 255, 255, 0.9);
    color: rgba(77, 77, 77, 0.603);
}
.anterior p,
.siguiente p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 2.5em;
    cursor:pointer;
    text-shadow: 0 0 3px rgba(56, 56, 56, 0.76);
    color: rgba(255, 255, 255, 0.568);
}
.siguiente p{
    margin-left: 5px;
    content: '&#8250;';
}

/*REDES*/
#redes{
    width: 35px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 5000;
    overflow: hidden;
}
.container__redes{
    background: rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.4em;
    padding: 0.2em;
    border-radius: 0.3em;
}
.container__redes div{
    width: 25px;
    height: 25px;
    border-radius: 0 5px 5px 0;
    mix-blend-mode: difference;
    animation: textoIzquierda 1s ease forwards;
}
.container__redes div img{
    transform: scale(0.9);
    transition: 0.4s ease;
}
.container__redes div img:hover{
    transform: scale(1.05);
}
.container__redes div a{
    width: 100%;
    height: 100%;
}
.container__redes div a img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/*MEDIA QUERYS*/


@media only screen and (min-width: 380px){
    *{
        font-size: 17px;
    }
}
@media only screen and (min-width: 600px){
    .contenedor_videos{
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "video1 video2"
                            "vermas video3";
        grid-gap: 2em;
        padding: 2.5em;
    }
    .preguntasFrecuentes{
        padding: 2.5em;
    }
    .contenedorPreguntas{
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}
@media only screen and (min-width: 768px){
    .preguntasFrecuentes,
    .contenedor_videos{
        padding: 3em;
    }
    .container{
        padding: 0 3em;
    }
    .hamburguesa_contenedor{
        display: none;
    }
    .contenedor_items{
        display: flex;
        width: 100%;
        flex-direction: row;
        position: relative;
        height: auto;
        align-items: center;
        justify-content: flex-end;
        gap: 1em;
    }
    .contenedor_items li{
        width: auto;
     }
     .contenedor_metas{
        position: absolute;
        left: 7%;
    }
}
@media only screen and (min-width: 980px){
   
    .texto_header{
        justify-content: flex-start;
    }
    .texto_headercontainer{
        max-width: 400px;
        align-items: flex-start;
    }
    .texto_headercontainer p{
        text-align: start;
    }
    .texto{
        max-width: 500px;
    }  
    .preguntasFrecuentes,
    .contenedor_videos{
        padding: 4em;
    }
    .contenedorPreguntas{
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
    }
    .contenedor_contacto{
        min-width: 320px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: rgb(221, 221, 221);
    }
    .imagen_contacto{
        display: flex;
    }
}
@media only screen and (min-width: 1360px){
    .container{
        padding: 0 5em;
    }
    .texto{
        max-width: 600px;
    }
    .preguntasFrecuentes,
    .contenedor_videos{
        padding: 5em;
    }
}
@media only screen and (min-width: 1920px){
}