.header{
    max-height: 600px;
    min-height: 320px;
    height: 30vh;
    width: 100%;
    position: relative;
    padding: 20px;
    padding-top: 15px;
}
.header-background{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}
.header-background::after{
    content: '';
    background: rgb(32, 62, 95);
    height: 100%;
    width: 100%;
    position: absolute;
    display: block;
    opacity: 0.9;
    top: 0;
    left: 0;
    z-index: 100;
}
.header-background__img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.header-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--min-padding);
    padding-top: var(--mid-padding);
    padding-bottom: var(--mid-padding);
}
.header-text .container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(20px);
    gap: 1em;
    width: 100%;
}
.header-title{
    font-size: 2.2em;
    font-weight: bold;
    font-family: montserratbold;
    color: white;
    opacity: 0;
    transform: translateX(-100px);
    animation: showHorizontal .5s linear forwards;
}
.header-text__contrast{
    color: var(--contrast-color);
    font-size: 1em;
    font-weight: bold;
    font-family: montserratbold;
}
/*-----------------ABOUT-------------------*/
.about{
    padding: var(--min-padding);
    padding-top: var(--mid-padding);
    padding-bottom: var(--mid-padding);
    background: rgb(170, 243, 239);
    width: 100%;
    overflow: hidden;
    position: relative;
}
.about .container{
    display: flex;
    flex-direction: column;
    gap: 2em;
    position: relative;
}
.about__section{
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1em;
    max-width: 800px;
    z-index: 1000;
}
.about__section-texts{
    display: flex;
    flex-direction: column;
    gap: 1em;
    opacity: 0;
    animation: showHorizontal 1s 0.3s ease forwards;
}
.first-section .about__section-texts{
    transform: translateX(-200px);
}
.second-section .about__section-texts{
    transform: translateX(200px);
}
.about__section-title{
    font-size: 1.2em;
    font-family: montserratbold;
}
.about__text-paragraph .header-text__contrast{
    font-size: 1.2em;
}
.about__text-paragraph{
    font-size: 0.9em;
}
.about__img{
    width: 100%;
    min-width: 250px;
    max-height: 400px;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
    opacity: 0;
    transform: translateY(100px);
    animation: showVertical 0.7s 0.5s linear forwards;
}
.about__img::after{
    content: '';
    display: none;
    height: 120%;
    width: 80%;
    position: absolute;
    right: -20%;
    bottom: -12%;
    background: rgb(0, 67, 78);
    z-index: -1;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(-200px);
    animation: showVertical 0.7s 0.5s linear forwards;
}
.second-section .about__img::after{
    left: -20%;
    right: initial;
}
.about__img-content{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.water-background{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.2;
}
.water-background__img{
    width: 150%;
    height: 150%;
    object-fit: cover;
    transform: translate(0, 0) scale(1.2);
    animation: waterMove 30s linear infinite;
}
@keyframes waterMove {
    0%{
        transform: translate(0,0) scale(1.2);
    }20%{
        transform: translate(10%, 0) scale(1.3);
    }40%{
        transform: translate(10%, 10%) scale(1.2);
    }60%{
        transform: translate(0, 10%) scale(1.3);
    }80%{
        transform: translate(-10%, 10%) scale(1.2);
    }100%{
        transform: translate(0, 0) scale(1.2);
    }
}
.background-text{
    position: absolute;
    bottom: -1em;
    z-index: 10;
}
.background-text__content{
    font-family: montserratbold;
    font-size: 6em;
    background-image: linear-gradient(to bottom, #00385e, transparent);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacitY: 0.1;
    letter-spacing: 0.05em;
    animation: waterMove 60s linear infinite;
}
@media only screen and (min-width: 480px){
    .header-title{
        font-size: 2.5em;
    }
}

@media only screen and (min-width: 600px){
    .about{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about .container{
        gap: 4em;
        max-width: 1200px;
    }
    .about__img{
        overflow: visible;
    }
    .about__section{
        align-items: center;
        gap: 1.5em;
    }
    .first-section{
        flex-direction: row;
    }
    .second-section{
        flex-direction: row-reverse;
        align-self: flex-end;

    }
}

@media only screen and (min-width: 768px){
    .about{
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .about__section{
        gap: 3em;
    }
    .about .container{
        gap: 6em;
    }
}
@media only screen and (min-width: 998px){
    .about__img::after{
        display: block;
    }
}
@media only screen and (min-width: 1200px){
    .about{
        padding-bottom: 70px;
        padding-top: 70px;
    }
    .about .container{
        gap: 8em;
    }
}